//
// Google font - IBM Plex Sans
//

// @import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');/* styles.scss o tu archivo de estilos SCSS personalizado */
@font-face {
  font-family: 'San Francisco'; /* Puedes usar el nombre que prefieras */
  src: url('../../../fonts/SFUIDisplay-Light.ttf') format('truetype'); /* Ruta correcta al archivo de fuente */
  font-weight: normal;
  font-style: normal;
}