<!-- <p-toast position="top-left" [baseZIndex]="99999"></p-toast>
<div class="card">
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3 class="h3">Documentos</h3>
      </div>
      <div class="col-sm-6">
        <button
          ngbTooltip="Agregar documento"
          placement="top"
          class="btn btn-sm btn-info p-2 float-end"
          (click)="onModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
        >
          Nuevo
        </button>
      </div>
    </div>
  </div>
</div>

<div class="border-dark m-2">
  <div class="row">
    <div class="col-12 card-title"></div>
    <div class="col-sm-3" *ngFor="let item of data">
      <div class="card p-1 pointer">
        <div class="card-header">
          <custom-button-delete-span
            (OnConfirm)="onModalDelete(item.id)"
            [nameItem]="item.document"
            [textHeader]="'Eliminar Documento'"
            [textpTooltip]="'Eliminar Documento!'"
          ></custom-button-delete-span>
        </div>
        <div
          class="card-body text-center pointer"
          routerLink="/documento/view-documento"
          (click)="viewPdfService.setNameDocument(item.pathDocument)"
        >
          <i class="fa-duotone fa-file-pdf fa-4x text-danger"></i>
        </div>
        <div class="card-footer text-center">
          <small>
            {{ item.document }}
          </small>
        </div>
      </div>
    </div>
  </div>
</div> -->

<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<div class="card">
  <p-table
    #dt
    [value]="data"
    [globalFilterFields]="['nameDocument']"
    styleClass="custom-table"
  >
    <ng-template pTemplate="caption">
      <app-table-header
        [title]="'Documentos'"
        (add)="onModalAddOrEdit({ id: 0, title: 'Nuevo Registro' })"
        [dt]="dt"
      ></app-table-header>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" pSortableColumn="nameDocument">
          Nombre del documento <p-sortIcon field="nameDocument"></p-sortIcon>
        </th>
        <th scope="col">Descargar</th>

        <th scope="col" style="width: 5%" class="hide-print-mode">Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="p-column-title">
          {{ item.nameDocument }}
        </td>
        <td class="p-column-title">
          <custom-button-download-pdf
            [urlFile]="item.pathDocument"
          ></custom-button-download-pdf>
        </td>

        <!-- Opciones -->
        <td class="p-column-title" class="hide-print-mode">
          <div class="d-flex justify-content-center">
            <custom-button-edit
              (edit)="
                onModalAddOrEdit({ id: item.id, title: 'Editar Registro' })
              "
            ></custom-button-edit>
            <custom-button-delete
              (OnConfirm)="onDelete(item.id)"
            ></custom-button-delete>
          </div>
        </td>
        <!-- Opciones -->
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="p-d-flex p-ai-center p-jc-between hide-print-mode">
        En total hay
        {{ data ? data.length : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>
