<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box d-none d-lg-block">
        <a routerLink="/" class="logo logo-light">
          <span class="logo-sm">
            <img src="assets/images/logo.PNG" alt="" height="22" />
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo.PNG" alt="" height="22" />
            <span class="logo-txt">Grupo Luxury</span>
          </span>
        </a>
      </div>

      <!-- App Search-->
      <button
        type="button"
        class="btn btn-sm px-3 font-size-16 header-item"
        id="vertical-menu-btn"
        (click)="toggleMobileMenu($event)"
      >
        <i class="fa fa-fw fa-bars"></i>
      </button>
      <button
        type="button"
        class="btn btn-sm px-3 font-size-16 header-item d-none d-lg-block"
        ngbTooltip="Anterior"
        placement="bottom-start"
        (click)="onBack()"
      >
        <i class="fa-thin fa-angle-left"></i>
      </button>
      <button
        type="button"
        class="btn btn-sm px-3 font-size-16 header-item d-none d-lg-block"
        ngbTooltip="Siguiente"
        placement="bottom-start"
        (click)="onNext()"
      >
        <i class="fa-thin fa-angle-right"></i>
      </button>
      <!-- App Search-->
      <div class="app-search me-1">
        <select
          class="form-control form-control-sm"
          [(ngModel)]="customerId"
          (change)="selectCustomer($event.target['value'])"
        >
          <option [value]="item.value" *ngFor="let item of cb_customer">
            <span>
              {{ item.label }}
            </span>
          </option>
        </select>
      </div>
      <form class="app-search d-none d-lg-block">
        <div class="position-relative">
          <input
            type="text"
            class="form-control"
            (keyup)="onSearch($event)"
            placeholder="Buscar..."
          />
          <button class="btn btn-primary" type="button">
            <i class="fa-duotone fa-magnifying-glass align-middle"></i>
          </button>
        </div>
      </form>
    </div>

    <div class="d-flex d-none d-sm-block">
      <div class="dropdown d-inline-block" ngbDropdown>
        <button
          type="button"
          class="btn header-item bg-soft-light border-start border-end"
          id="page-header-user-dropdown"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ngbDropdownToggle
        >
          <img
            class="rounded-circle header-profile-user"
            [src]="imagenPerfilUrl"
            alt="user"
          />
          <span class="d-none d-xl-inline-block ms-1 fw-medium"
            >{{ dataInfo.firstName }} {{ dataInfo.lastName }}</span
          >
          <i class="ms-2 fa-solid fa-caret-down d-none d-xl-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
          <a
            class="dropdown-item card-title"
            [routerLink]="['/accounts/actualizar-perfil']"
            ><i class="fa-duotone fa-id-card-clip align-middle me-1"></i>
            Perfil</a
          >
          <a class="dropdown-item card-title" (click)="logout()"
            ><i class="fa-duotone fa-right-from-bracket align-middle me-1"></i>
            <span class="align-middle" key="t-logout">Salir</span></a
          >
        </div>
      </div>
    </div>
  </div>
</header>
