<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<div class="card">
  <p-table
    #dt
    [value]="data"
    sortMode="single"
    rowGroupMode="subheader"
    [globalFilterFields]="[
      'correoPersonal',
      'fullName',
      'celularPersonal',
      'profession'
    ]"
    styleClass="custom-table"
  >
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-sm-10">
          <app-table-header
            [title]="'DIRECTORIO DE PERSONAL ' + tipoContrato | uppercase"
            (add)="showModalAddAccount()"
            [dt]="dt"
            [rolAuth]="
              authService.onValidateRoles([
                'Asistente',
                'Residente',
                'SuperUsuario'
              ])
            "
          ></app-table-header>
        </div>
        <div class="col-sm-2">
          <custom-button-active-desactive
            (activo)="onSelectActive($event)"
            (inactivo)="onSelectActive($event)"
          ></custom-button-active-desactive>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th
          scope="col"
          style="width: 10%"
          pSortableColumn="userName"
          class="hide-print-mode"
        >
          USUARIO
          <p-sortIcon field="userName"></p-sortIcon>
        </th>
        <th scope="col" style="width: 20%" pSortableColumn="workPositionFolio">
          PUESTO QUE CUBRE
          <p-sortIcon field="workPositionFolio"></p-sortIcon>
        </th>
        <th
          colspan="2"
          scope="col"
          style="width: 30%"
          pSortableColumn="fullName"
        >
          COLABORADOR
          <p-sortIcon field="fullName"></p-sortIcon>
        </th>
        <th
          scope="col"
          style="width: 30%"
          pSortableColumn="celularPersonal"
          class="hide-print-mode"
        >
          TÉLEFONO
          <p-sortIcon field="celularPersonal"></p-sortIcon>
        </th>
        <th scope="col" style="width: 30%" pSortableColumn="email">
          EMAIL
          <p-sortIcon field="email"></p-sortIcon>
        </th>

        <th
          *ngIf="
            authService.onValidateRoles([
              'Asistente',
              'Residente',
              'SuperUsuario'
            ])
          "
          scope="col"
          style="width: 5%"
        ></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr>
        <td>
          {{ item.userName }}
        </td>
        <td>
          {{ item.workPositionFolio }}
        </td>
        <td>
          <img [src]="url + item.photoPath" alt="" class="rounded avatar-sm" />
        </td>
        <td>
          {{ item.fullName }}
        </td>
        <td>
          {{ item.celularPersonal }}
        </td>
        <td>
          {{ item.correoPersonal }}
        </td>

        <td
          class="p-column-title hide-print-mode"
          *ngIf="
            authService.onValidateRoles([
              'Asistente',
              'Residente',
              'SuperUsuario'
            ])
          "
        >
          <div class="d-flex justify-content-center">
            <custom-button
              ngbTooltip="Contactos de Emergencia"
              [customClass]="'btn-sm btn-outline-success '"
              icon="fa-duotone fa-id-card-clip text-warning"
              (clicked)="
                showModalcontactEmployee(item, 'Contactos de emergencia ')
              "
            ></custom-button>
            <custom-button-edit
              *ngIf="item.employee"
              (edit)="
                showModalAddOrEdit({
                  id: item.employee.id,
                  title: 'Editar Registro'
                })
              "
            ></custom-button-edit>

            <custom-button
              ngbTooltip="Actualizar imagen"
              [customClass]="'btn-sm btn-outline-info'"
              icon="fa-duotone fa-camera text-info"
              (clicked)="showModalAddOrEditDataPrincipal(item.id)"
            ></custom-button>
            <custom-button
              *ngIf="
                authService.onValidateRoles([
                  'SuperUsuario',
                  'Residente',
                  'Asistente'
                ])
              "
              ngbTooltip="Reestablecer contraseña de usuario"
              customClass="btn-sm btn-outline-warning "
              icon="fa-duotone fa-key "
              (clicked)="onModalUpdatePassword(item.applicationUserId)"
            ></custom-button>

            <!-- ASIGRNAR ACCOUNT -->
            <!-- ASIGRNAR ACCOUNT -->
            <custom-button
              *ngIf="
                authService.onValidateRoles([
                  'SuperUsuario',
                  'Residente',
                  'Asistente'
                ])
              "
              ngbTooltip="Asignar cuenta de usuario"
              customClass="btn-sm btn-outline-info "
              icon="fa-duotone fa-users-rectangle"
              (clicked)="
                onModalAccountToEmployee(item.id, item.applicationUserId)
              "
            ></custom-button>
            <!-- ASIGRNAR ACCOUNT -->

            <custom-button-confirmation
              (OnConfirm)="onBlockEmployee(item.id)"
              [mostrar]="activo"
              classButton="btn btn-sm btn-outline-danger me-1"
              confirmButtonText="Sí"
              icon="fa-duotone fa-user-xmark"
              label=""
              text="Se va dar de baja al colaborador"
              title="Dar de baja"
              tooltipText="Dar de baja"
            ></custom-button-confirmation>
            <custom-button-confirmation
              (OnConfirm)="onBlockEmployee(item.id)"
              [mostrar]="!activo"
              classButton="btn btn-sm btn-outline-success me-1"
              confirmButtonText="Sí"
              icon="fa-duotone fa-user-xmark"
              label=""
              text="Se va dar de alta al colaborador"
              title="Dar de alta"
              tooltipText="Dar de alta"
            ></custom-button-confirmation>

            <custom-button-edit
              (edit)="
                showModalAddOrEdit({
                  id: item.id,
                  title: 'Agregar Datos'
                })
              "
            ></custom-button-edit>
            <custom-button-delete
              (OnConfirm)="onDelete(item)"
            ></custom-button-delete>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
