<!-- <div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Id</label>
        <div class="col-sm-9 p-fluid">
          <input pInputText class="p-inputtext-sm" formControlName="id" />
        </div>
      </div>
      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">CuentaId</label>
        <div class="col-sm-9 p-fluid">
          <input
            pInputText
            class="p-inputtext-sm"
            formControlName="compraCuentaId"
          />
        </div>
      </div>

      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Número cuenta</label>
        <div class="col-sm-9 p-fluid">
          <p-inputMask
            mask="999-999-999"
            placeholder="999-999-999"
            class="p-inputtext-sm"
            formControlName="numeroCuenta"
            [class.is-invalid]="
              f.numeroCuenta.invalid &&
              (f.numeroCuenta.dirty || f.numeroCuenta.touched)
            "
          ></p-inputMask>

          <div
            *ngIf="
              f.numeroCuenta.invalid &&
              (f.numeroCuenta.dirty || f.numeroCuenta.touched)
            "
          >
            <span *ngIf="f.numeroCuenta.errors.required" class="text-danger"
              >El campo es reqerido.</span
            >
          </div>
        </div>
      </div>
  
      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Descripción</label>
        <div class="col-sm-9 p-fluid">
          <input
            pInputText
            class="p-inputtext-sm"
            formControlName="descripcion"
            placeholder="Ingrese el descripción"
            [class.is-invalid]="
              f.descripcion.invalid &&
              (f.descripcion.dirty || f.descripcion.touched)
            "
          />
          <div
            *ngIf="
              f.descripcion.invalid &&
              (f.descripcion.dirty || f.descripcion.touched)
            "
          >
            <span class="text-danger">El campo es reqerido.</span>
          </div>
        </div>
      </div>

      <custom-button-submit
        [disabled]="this.form.invalid || submitting"
      ></custom-button-submit>
    </form>
  </div>
</div> -->
