<!-- <div class="row">
  <div class="col-4 p-fluid">
    <ng-container *ngIf="mostarBotonAutorizarSup">
      <button
        *ngIf="
          ordenCompra.ordenCompraPresupuestoUtilizado.length > 0 &&
          this.ordenCompraService.getTotalPorCubrir() === 0 &&
          ordenCompra.ordenCompraAuth.revisadoPorResidente
        "
        pButton
        pRipple
        type="button"
        label="Autorizar S."
        class="p-button-info p-button-sm mb-2 p-1"
      ></button>
    </ng-container>
  </div>
  <div class="col-4 p-fluid">
    <ng-container class="p-fluid" *ngIf="mostarBotonRevocar">
      <button
        [disabled]="!isSupervisionOperativa"
        pButton
        pRipple
        type="button"
        label="Revocar"
        class="p-button-danger p-button-sm mb-2 p-1"
      ></button>
    </ng-container>
  </div>
  <div class="col-4 p-fluid">
    <ng-container *ngIf="isSupervisionOperativa">
      <button
        (click)="onModalcompraNoAutorizada()"
        [disabled]="!isSupervisionOperativa"
        pButton
        pRipple
        type="button"
        label="Denegar"
        class="p-button-danger p-button-sm mb-2 p-1"
      ></button>
    </ng-container>
  </div>
</div>

<table class="table table-sm">
  <tbody>
    <tr>
      <td class="small font-weight-light text-justify" style="width: 30%">
        Status
      </td>
      <td class="small font-weight-light" style="width: 70%">
        {{ ordenCompra.ordenCompraAuth.statusOrdenCompra | eStatusOrdenCompra }}
      </td>
    </tr>
    <tr>
      <td class="small font-weight-light text-justify" style="width: 30%">
        Autorización
      </td>
      <td class="small font-weight-light" style="width: 70%">
        {{ ordenCompra.ordenCompraAuth.applicationUserAuth }}
      </td>
    </tr>
    <tr>
      <td class="small font-weight-light text-justify" style="width: 30%">
        Fecha de Autorización
      </td>
      <td class="small font-weight-light" style="width: 70%">
        {{ ordenCompra.ordenCompraAuth.fechaAutorizacion | date : "medium" }}
      </td>
    </tr>
    <tr>
      <td class="small font-weight-light text-justify" style="width: 30%">
        Residente que valido
      </td>
      <td class="small font-weight-light" style="width: 70%">
        {{ ordenCompra.ordenCompraAuth.revisadoPorResidente }}
      </td>
    </tr>
    <tr>
      <td class="small font-weight-light text-justify" style="width: 30%">
        Observaciones
      </td>
      <td class="small font-weight-light" style="width: 70%">
        {{ ordenCompra.ordenCompraAuth.observaciones }}
      </td>
    </tr>
  </tbody>
</table>

<style>
  .tr {
    width: 130%;
    height: 100%;
  }

  .table {
    font-size: 12px;
  }
</style> -->
