<ng-container *ngIf="data">
  <div class="card">
    <h4 class="h4">
      {{ data.turnoTrabajo | eTurnoTrabajo }}
    </h4>
    <table class="custom-table">
      <thead>
        <tr>
          <th scope="col">EVENTO</th>
          <th scope="col">LUNES</th>
          <th scope="col">MARTES</th>
          <th scope="col">MIERCOLES</th>
          <th scope="col">JUEVES</th>
          <th scope="col">VIERNES</th>
          <th scope="col">SABADO</th>
          <th scope="col">DOMINGO</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>ENTRADA</td>
          <td>
            {{ data.mondayEntry }}
          </td>
          <td>
            {{ data.tuesdayEntry }}
          </td>
          <td>
            {{ data.wednesdayEntry }}
          </td>
          <td>
            {{ data.thursdayEntry }}
          </td>
          <td>
            {{ data.fridayEntry }}
          </td>
          <td>
            {{ data.saturdayEntry }}
          </td>
          <td>
            {{ data.sundayEntry }}
          </td>
        </tr>
        <tr>
          <td>SALIDA</td>
          <td>
            {{ data.mondayExit }}
          </td>
          <td>
            {{ data.tuesdayExit }}
          </td>
          <td>
            {{ data.wednesdayExit }}
          </td>
          <td>
            {{ data.thursdayExit }}
          </td>
          <td>
            {{ data.fridayExit }}
          </td>
          <td>
            {{ data.saturdayExit }}
          </td>
          <td>
            {{ data.sundayExit }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
