<app-report-header></app-report-header>

<h5 class="font-weight-normal">
  Informe de servicios de Mantenimiento preventivo correspondientes a
  <!-- {{ monthId | eMonth }} del año {{ yearId }} -->
</h5>

<table class="table table-light">
  <tbody>
    <tr *ngFor="let item of data">
      <div class="border p-2 mb-2">
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 100%"
            [ngClass]="{
              'bg-danger': item.status == 0,
              'bg-success': item.status == 1,
              'bg-dark': item.status == 2
            }"
          >
            {{ item.status | eStatus }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 p-fluid">
            <div class="form-group">
              <label class="font-italic">Equipo o Instalación</label>
              <input
                pInputText
                class="p-inputtext-sm text-dark"
                readonly
                type="text"
                [(ngModel)]="item.equipoInstalacion"
              />
            </div>
            <div class="form-group">
              <label class="font-italic">Fecha de Solicitud</label>
              <input
                pInputText
                class="p-inputtext-sm text-dark"
                readonly
                type="date"
                [(ngModel)]="item.requestDate"
                [ngModel]="item.requestDate | date: 'yyyy-MM-dd'"
              />
            </div>
            <div class="form-group">
              <label class="font-italic">Actividad</label>
              <textarea
                pInputTextarea
                readonly
                class="p-inputtext-sm p-text-justify"
                autoResize="autoResize"
                [(ngModel)]="item.activity"
              >
              </textarea>
            </div>
          </div>
          <div class="col-sm-4 p-fluid">
            <div class="form-group">
              <label class="font-italic">Fecha de Ejecución</label>
              <input
                pInputText
                class="p-inputtext-sm text-dark"
                type="date"
                [(ngModel)]="item.executionDate"
                [ngModel]="item.executionDate | date: 'yyyy-MM-dd'"
              />
            </div>
            <div class="form-group">
              <label class="font-italic">Proveedor</label>
              <input
                pInputText
                class="p-inputtext-sm text-dark"
                type="text"
                [(ngModel)]="item.provider"
              />
            </div>
            <div class="form-group">
              <label class="font-italic">Observaciones</label>
              <textarea
                pInputTextarea
                readonly
                class="p-inputtext-sm text-justify"
                autoResize="autoResize"
                [(ngModel)]="item.observations"
              >
              </textarea>
            </div>
          </div>
          <div class="col-sm-4 p-fluid">
            <div class="form-group">
              <label class="font-italic">Costo del Servicio</label>
              <input
                pInputText
                class="p-inputtext-sm text-dark"
                type="number"
                [(ngModel)]="item.price"
              />
            </div>
          </div>

          <div
            class="col-sm-3 card"
            *ngFor="let img of item.ordenServicioFotografia"
          >
            <div class="card-body p-1">
              <img [src]="urlImg + img.img" alt="img" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </tr>
  </tbody>
</table>
