<!-- <div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Id</label>
        <div class="col-sm-9 p-fluid">
          <input pInputText class="p-inputtext-sm" formControlName="id" />
        </div>
      </div>

      <div class="form-group row" [hidden]="id !== 0">
        <label class="font-weight-normal col-sm-3">Cuenta</label>
        <div class="col-sm-9 p-fluid">
          <select
            pInputText
            class="p-inputtext-sm"
            formControlName="compraSubCuentaId"
            [class.is-invalid]="
              f.compraSubCuentaId.invalid &&
              (f.compraSubCuentaId.dirty || f.compraSubCuentaId.touched)
            "
          >
            <option value="">Selecciona una opción</option>
            <option
              [value]="item.value"
              *ngFor="let item of cb_compraSubCuenta"
            >
              {{ item.label }}
            </option>
          </select>

          <div
            *ngIf="
              f.compraSubCuentaId.invalid &&
              (f.compraSubCuentaId.dirty || f.compraSubCuentaId.touched)
            "
          >
            <span
              *ngIf="f.compraSubCuentaId.errors.required"
              class="text-danger"
              >El campo es reqerido.</span
            >
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Presupuesto Mensual</label>
        <div class="col-sm-9 p-fluid">
          <input
            min="0"
            type="number"
            pInputText
            class="p-inputtext-sm"
            formControlName="presupuestoMensual"
            [class.is-invalid]="
              f.presupuestoMensual.invalid &&
              (f.presupuestoMensual.dirty || f.presupuestoMensual.touched)
            "
          />
          <div
            *ngIf="
              f.presupuestoMensual.invalid &&
              (f.presupuestoMensual.dirty || f.presupuestoMensual.touched)
            "
          >
            <span class="text-danger">El campo es reqerido.</span>
          </div>
        </div>
      </div>

      <custom-button-submit
        [disabled]="this.form.invalid || submitting"
      ></custom-button-submit>
    </form>
  </div>
</div> -->
