<!-- <div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Id</label>
        <div class="col-sm-9 p-fluid">
          <input pInputText class="p-inputtext-sm" formControlName="id" />
        </div>
      </div>

      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Empresa</label>
        <div class="col-sm-9 p-fluid">
          <!-- TODO: CAMBIAR INPUT ELIMINAR PRIMNG -->
          <select
            pInputText
            class="p-inputtext-sm"
            formControlName="customerId"
            [class.is-invalid]="
              f.customerId.invalid &&
              (f.customerId.dirty || f.customerId.touched)
            "
          >
            <option value="">Selecciona una opción</option>
            <option [value]="item.value" *ngFor="let item of cb_customer">
              {{ item.label }}
            </option>
          </select>

          <div
            *ngIf="
              f.customerId.invalid &&
              (f.customerId.dirty || f.customerId.touched)
            "
          >
            <span *ngIf="f.customerId.errors.required" class="text-danger"
              >El campo es reqerido.</span
            >
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Inicio</label>
        <div class="col-sm-9 p-fluid">
          <input
            type="date"
            pInputText
            class="p-inputtext-sm"
            formControlName="fechaInicio"
            [class.is-invalid]="
              f.fechaInicio.invalid &&
              (f.fechaInicio.dirty || f.fechaInicio.touched)
            "
          />
          <div
            *ngIf="
              f.fechaInicio.invalid &&
              (f.fechaInicio.dirty || f.fechaInicio.touched)
            "
          >
            <span class="text-danger">El campo es reqerido.</span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="font-weight-normal col-sm-3">Final</label>
        <div class="col-sm-9 p-fluid">
          <input
            type="date"
            pInputText
            class="p-inputtext-sm"
            formControlName="fechaFin"
            [class.is-invalid]="
              f.fechaFin.invalid && (f.fechaFin.dirty || f.fechaFin.touched)
            "
          />
          <div
            *ngIf="
              f.fechaFin.invalid && (f.fechaFin.dirty || f.fechaFin.touched)
            "
          >
            <span class="text-danger">El campo es reqerido.</span>
          </div>
        </div>
      </div>

      <custom-button-submit
        [disabled]="this.form.invalid || submitting"
      ></custom-button-submit>
    </form>
  </div>
</div> -->
