<!-- <p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<div class="p-card p-mb-5">
  <p-table
    #dt
    [autoLayout]="true"
    [globalFilterFields]="['empresa.empresa']"
    [paginator]="true"
    [rowHover]="true"
    [rows]="100"
    [rowsPerPageOptions]="[100, 200]"
    [showCurrentPageReport]="true"
    [value]="data"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    styleClass="custom-table"
  >
    <ng-template pTemplate="caption">
      <app-table-header
        [title]="'Presupuestos'"
        (add)="
          onModalAddOrEditPresupuestoEmpresa({ id: 0, title: 'Nuevo Registro' })
        "
        [dt]="dt"
      ></app-table-header>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" pSortableColumn="empresa.empresa">
          Customer
          <p-sortIcon field="empresa.empresa"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="vigencia">
          Vigencia Presupuesto<p-sortIcon field="vigencia"></p-sortIcon>
        </th>
        <th scope="col" style="width: 5%">Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td colspan="3" class="p-column-title">
          <P class="card-title">{{ item.empresa.empresa }}</P>
        </td>
      </tr>
      <tr *ngFor="let presupuesto of item.presupuestos">
        <td colspan="2" class="p-column-title">
          {{ presupuesto.vigencia }}
        </td>
        <td class="p-column-title">
          <div class="d-flex justify-content-center">
            <button
              pTooltip="Detalle de Presupuesto"
              tooltipPosition="top"
              class="btn btn-sm bg-gradient-warning text-white-50 ml-1"
              [routerLink]="['/compras/presupuesto', presupuesto.id]"
            >
              <i class="fa-duotone fa-dollar-sign "></i>
            </button>

            <custom-button-edit
              (edit)="
                onModalAddOrEditPresupuestoEmpresa({
                  id: presupuesto.id,
                  title: 'Editar Registro'
                })
              "
            ></custom-button-edit>
            <custom-button-delete
              (OnConfirm)="onDelete(presupuesto)"
            ></custom-button-delete>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft">
      <div class="p-d-flex p-ai-center p-jc-between 
 hide-print-mode">
        En total hay
        {{ data ? data.length : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div> -->
