<!-- <custom-button
  (clicked)="PrestamoHerramienta()"
  customClass="btn-outline-primary me-1 mb-1"
  label="Prestamo Herramienta"
>
</custom-button>
<custom-button
  (clicked)="onDepuracionCotizacionProveedor()"
  customClass="btn-outline-primary me-1 mb-1"
  label="Cotizaciones Proveedor"
>
</custom-button>
<custom-button
  (clicked)="UpdateCalendarId()"
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdateCalendarId"
>
</custom-button>
<custom-button
  (clicked)="SolicitudCompra()"
  customClass="btn-outline-primary me-1 mb-1"
  label="SolicitudCompra"
>
</custom-button>
<custom-button
  (clicked)="ReporteSemanal()"
  customClass="btn-outline-primary me-1 mb-1"
  label="ReporteSemanal"
>
</custom-button>
<custom-button
  (clicked)="OrdenCompra()"
  customClass="btn-outline-primary me-1 mb-1"
  label="OrdenCompra"
>
</custom-button>
<custom-button
  (clicked)="OrdenesServicio()"
  customClass="btn-outline-primary me-1 mb-1"
  label="OrdenesServicio"
>
</custom-button>
<custom-button
  (clicked)="CalendarioMantenimiento()"
  customClass="btn-outline-primary me-1 mb-1"
  label="CalendarioMantenimiento"
>
</custom-button>
<custom-button
  (clicked)="Recorrido()"
  customClass="btn-outline-primary me-1 mb-1"
  label="Recorrido"
>
</custom-button>
<custom-button
  (clicked)="BitacoraMantenimiento()"
  customClass="btn-outline-primary me-1 mb-1"
  label="BitacoraMantenimiento"
>
</custom-button>
<custom-button
  (clicked)="InventarioPintura()"
  customClass="btn-outline-primary me-1 mb-1"
  label="InventarioPintura"
>
</custom-button>
<custom-button
  (clicked)="InventarioIluminacion()"
  customClass="btn-outline-primary me-1 mb-1"
  label="InventarioIluminacion"
>
</custom-button>
<custom-button
  (clicked)="MachineryDocument()"
  customClass="btn-outline-primary me-1 mb-1"
  label="MachineryDocument"
>
</custom-button>
<custom-button
  (clicked)="Equipos()"
  customClass="btn-outline-primary me-1 mb-1"
  label="Equipos"
>
</custom-button>
<custom-button
  (clicked)="CotizacionProveedorPendiente()"
  customClass="btn-outline-primary me-1 mb-1"
  label="CotizacionProveedorPendiente"
>
</custom-button>
<custom-button
  (clicked)="SolicitudCompraPendiente()"
  customClass="btn-outline-primary me-1 mb-1"
  label="SolicitudCompraPendiente"
>
</custom-button>
<custom-button
  (clicked)="OrdenCompraPendiente()"
  customClass="btn-outline-primary me-1 mb-1"
  label="OrdenCompraPendiente"
>
</custom-button>
<hr />
<custom-button
  (clicked)="ActualizarDatosEmpleado()"
  customClass="btn-outline-primary me-1 mb-1"
  label="Update Cuentas"
>
</custom-button>
<custom-button
  (clicked)="DeleteProveedor()"
  customClass="btn-outline-primary me-1 mb-1"
  label="DeleteProveedor"
>
</custom-button>
<custom-button
  (clicked)="DeleteProveedor()"
  customClass="btn-outline-primary me-1 mb-1"
  label="DeleteProveedor"
>
</custom-button>
<custom-button
  (clicked)="ActualizarDatos()"
  customClass="btn-outline-primary me-1 mb-1"
  label="Actualizar datos"
>
</custom-button>
<custom-button
  (clicked)="ActualizarDatosEmpleado()"
  customClass="btn-outline-primary me-1 mb-1"
  label="Actualizar datos empleados"
>
</custom-button>
<custom-button
  (clicked)="Reporte()"
  customClass="btn-outline-primary me-1 mb-1"
  label="Update Data Reportes"
>
</custom-button>
<custom-button
  (clicked)="Presentaciones()"
  customClass="btn-outline-primary me-1 mb-1"
  label="Update Presentaciones"
>
</custom-button>
<custom-button
  (clicked)="HistorialAcceso()"
  customClass="btn-outline-primary me-1 mb-1"
  label="HistorialAcceso"
>
</custom-button>
<custom-button
  (clicked)="MinutasParticipantesAdmin()"
  customClass="btn-outline-primary me-1 mb-1"
  label="MinutasParticipantesAdmin"
>
</custom-button>
<custom-button
  (clicked)="MinutasDetails()"
  customClass="btn-outline-primary me-1 mb-1"
  label="MinutasDetails"
>
</custom-button>
<custom-button
  (clicked)="MeetingDertailsSeguimientos()"
  customClass="btn-outline-primary me-1 mb-1"
  label="MeetingDertailsSeguimientos"
>
</custom-button>
<custom-button
  (clicked)="OrdenCompraUpdate()"
  customClass="btn-outline-primary me-1 mb-1"
  label="OrdenCompraUpdate"
>
</custom-button>
<custom-button
  (clicked)="MetodoDePagos()"
  customClass="btn-outline-primary me-1 mb-1"
  label="MetodoDePagos"
>
</custom-button>
<custom-button
  (clicked)="OrdenCompraAuth()"
  customClass="btn-outline-primary me-1 mb-1"
  label="OrdenCompraAuth"
>
</custom-button>
<custom-button
  (clicked)="Productos()"
  customClass="btn-outline-primary me-1 mb-1"
  label="Productos"
>
</custom-button>
<custom-button
  (clicked)="Providers()"
  customClass="btn-outline-primary me-1 mb-1"
  label="Providers"
>
</custom-button>
<custom-button
  (clicked)="SalidaProducto()"
  customClass="btn-outline-primary me-1 mb-1"
  label="SalidaProducto"
>
</custom-button>
<custom-button
  (clicked)="ServiceOrders()"
  customClass="btn-outline-primary me-1 mb-1"
  label="ServiceOrders"
>
</custom-button>
<custom-button
  (clicked)="SolicitudCompras()"
  customClass="btn-outline-primary me-1 mb-1"
  label="SolicitudCompras"
>
</custom-button>
<custom-button
  (clicked)="SolicitudCompraDetalles()"
  customClass="btn-outline-primary me-1 mb-1"
  label="SolicitudCompraDetalles"
>
</custom-button>
<custom-button
  (clicked)="Tool()"
  customClass="btn-outline-primary me-1 mb-1"
  label="Tool"
></custom-button>
<custom-button
  (clicked)="UsoCFDI()"
  customClass="btn-outline-primary me-1 mb-1"
  label="UsoCFDI"
>
</custom-button>
<custom-button
  (clicked)="AgendasSupervision()"
  customClass="btn-outline-primary me-1 mb-1"
  label="AgendasSupervision"
>
</custom-button>
<custom-button
  (clicked)="InventarioExtintor()"
  customClass="btn-outline-primary me-1 mb-1"
  label="InventarioExtintor"
>
</custom-button>
<custom-button
  (clicked)="InventarioIluminacions()"
  customClass="btn-outline-primary me-1 mb-1"
  label="InventarioIluminacions"
>
</custom-button>
<custom-button
  (clicked)="Machinerys()"
  customClass="btn-outline-primary me-1 mb-1"
  label="Machinerys"
>
</custom-button>
<custom-button
  (clicked)="InventarioLlaves()"
  customClass="btn-outline-primary me-1 mb-1"
  label="InventarioLlaves"
>
</custom-button>
<custom-button
  (clicked)="BitacoraMantenimientoUpdate()"
  customClass="btn-outline-primary me-1 mb-1"
  label="BitacoraMantenimientoUpdate"
>
</custom-button>
<custom-button
  (clicked)="Medidor()"
  customClass="btn-outline-primary me-1 mb-1"
  label="Medidor"
>
</custom-button>
<custom-button
  (clicked)="ControlPrestamoHerramienta()"
  customClass="btn-outline-primary me-1 mb-1"
  label="ControlPrestamoHerramienta"
>
</custom-button> -->

<custom-button
  (clicked)="onEmployeeUpdate()"
  customClass="btn-outline-primary me-1 mb-1"
  label="onEmployeeUpdate"
>
</custom-button>
<custom-button
  (clicked)="UpdateSalary()"
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdateSalary"
>
</custom-button>
<custom-button
  (clicked)="UpdateDocumentCustomer()"
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdateDocumentCustomer"
>
</custom-button>
<custom-button
  (clicked)="CreateAccounsFaltantes()"
  customClass="btn-outline-primary me-1 mb-1"
  label="CreateAccounsFaltantes"
>
</custom-button>
<custom-button
  (clicked)="UpdateEmployeeToAccountUser()"
  customClass="btn-outline-primary me-1 mb-1"
  label="UpdateEmployeeToAccountUser"
>
</custom-button>
