<p-toast position="top-left" [baseZIndex]="99999"></p-toast>

<div class="card">
  <p-table
    #dt
    [value]="data"
    [autoLayout]="true"
    [globalFilterFields]="[
      'folio',
      'nombreEmpleado',
      'status',
      'tipoSolicitud'
    ]"
    [paginator]="true"
    [rowHover]="true"
    [rows]="100"
    [rowsPerPageOptions]="[100, 200]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    styleClass="custom-table"
  >
    <ng-template pTemplate="caption">
      <app-table-header
        title="Solicitudes"
        [showAdd]="false"
        [dt]="dt"
      ></app-table-header>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th scope="col" pSortableColumn="fechaSolicitud">
          Fecha de solicitud<p-sortIcon field="fechaSolicitud"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="folio">
          Folio <p-sortIcon field="folio"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="tipoSolicitud">
          Solicitud <p-sortIcon field="tipoSolicitud"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="nombreEmpleado">
          Nombre
          <p-sortIcon field="nombreEmpleado"></p-sortIcon>
        </th>
        <th scope="col" pSortableColumn="status">
          Estatus
          <p-sortIcon field="status"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="p-column-title">
          {{ item.fechaSolicitud }}
        </td>
        <td class="p-column-title">
          {{ item.folio }}
        </td>
        <td class="p-column-title">
          {{ item.tipoSolicitud }}
        </td>
        <td class="p-column-title">
          {{ item.nombreEmpleado }}
        </td>
        <td class="p-column-title">
          {{ item.status }}
        </td>
        <!-- Opciones -->

        <!-- Opciones -->
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="p-d-flex p-ai-center p-jc-between hide-print-mode">
        En total hay
        {{ data ? data.length : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
</div>
